.App {
  font-family: sans-serif;
  text-align: center;
}
header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #ffd90f; /* fallback for old browsers */
}

body {
  background: #1e2430;
}

.headerText {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  color: #1e2430;
  font-size: 50px;
  margin: auto;
}

.quoteMachine {
  background: #1e2430;
  padding-bottom: 50px;
}

.simpsonsImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  height: auto;
  width: auto;
  max-width: 400px;
  max-height: 400px;
}

.simpsonsQuote {
  text-align: center;
  color: #ffd90f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.simpsonsCharacter {
  text-align: center;
  color: #ffd90f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.quoteButton {
  width: 255px;
  height: 55px;
  text-align: center;
  line-height: 1.1em;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 0px;
  min-width: 120px;
  background: #ffd90f;
  border: 2px solid black;
  margin: auto;
  display: block;
}

.quoteButton:hover {
  background: #1e2430;
  color: #ffd90f;
  border-color: #ffd90f;
}

.quoteButton:focus {
  outline: 0;
}

.tweetButton {
  width: 255px;
  height: 55px;
  text-align: center;
  line-height: 1.1em;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 0px;
  min-width: 120px;
  background: #ffd90f;
  border: 2px solid black;
  margin: auto;
  display: block;
}

.tweetButton:hover {
  background: #1e2430;
  color: #ffd90f;
  border-color: #ffd90f;
}

.tweetButton:focus {
  outline: 0;
}

.tweetLink:hover {
  text-decoration: none;
  color: #ffd90f;
}

.tweetButton a {
  text-decoration: none;
  color: black;
}
